fastapi==0.109.1
uvicorn[standard]==0.27.0
pydantic==2.6.1
opentelemetry-api==1.23.0
opentelemetry-sdk==1.23.0
opentelemetry-instrumentation-fastapi==0.44b0
opentelemetry-instrumentation-sqlalchemy==0.44b0
opentelemetry-exporter-otlp-proto-grpc==1.23.0
opentelemetry-semantic-conventions==0.44b0
confluent-kafka==2.3.0
sqlalchemy==2.0.25
psycopg2-binary==2.9.9
prometheus-client==0.20.0
redis==5.0.1